<div id="openModalDrag2" class="modalbg">
	<div class="dialog">
	    <a href="#close" title="Close" class="close">X</a>
	  	<h2>ADD COMMENT</h2>
			<p>Write a comment</p>
			<textarea class="form-control" rows="3"></textarea>
	</div>
</div>
<div id="openModalDrag1" class="modalbg">
	<div class="dialog">
	    <a href="#close" title="Close" class="close">X</a>
	  	<h2>ADD PHOTO</h2>
		 <div class="form-group">
    		<label for="exampleInputFile">File input</label>
    		<input type="file" id="exampleInputFile">
  		</div>
	</div>
</div>
<div id="openModalDrag3" class="modalbg">
	<div class="dialog">
	    <a href="#close" title="Close" class="close">X</a>
	  	<h2>ADD MUSIC</h2>
			<p>You freakin' did it!</p>
			<p>You opened up the freakin' modal window! Now close it, ya dingus.</p>
	    <p class="fineprint">Based on the article "Creating a modal window with HTML5 & CSS3" at <a href="webdesignerdepot.com">Webdesigner Depot</a></p>
	    <p class="fineprint">p.s. Sorry for calling you a dingus earlier.</p>
	</div>
</div>