<!DOCTYPE html>
<html>
<body>

<p id="getPosition">Get your position:</p>

<button onclick="getLocation()">Try It</button>
<form id="formView" name="formView">
	<div id="streetView1"></div>
	<div id="streetView2"></div>
	<div id="streetView3"></div>
	<div id="streetView4"></div>
</form>

</body>
</html>