// /*****************CONSTANTS*******************/
// $primaryColor:#0088cc;
// $infoColor:#5bc0de;
// $succesColor:#62c462;
// $warningColor:#fbb450;
// $dangerColor:#ee5f5b;
// $titleColor:#8A4B08;

// /******************************************/

html{
 height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: -webkit-linear-gradient(#92cd00 , #224902); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#92cd00 , #224902); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#92cd00 , #224902); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#92cd00 , #224902); /* Standard syntax */
}
.container-button {
	padding: 30px 15px;
	text-align: center;
	position: relative;
}
h1{
	font-family: verdana;
	color: white;
}
#try-it {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	background: -webkit-linear-gradient(#ffffff, #dbe5c2 , #b4d466, #4ea905); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(#ffffff, #dbe5c2 , #b4d466, #4ea905); 
 	background: -moz-linear-gradient(#ffffff, #dbe5c2 , #b4d466, #4ea905); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(#ffffff, #dbe5c2 , #b4d466, #4ea905); /* Standard syntax */
 	border-radius: 50%;
  box-shadow: 0 0 20px #000000;
}

#try-it-center {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: absolute;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: -webkit-linear-gradient(#92cd00 , #1d350a,#18400C); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(#92cd00 , #1d350a, #18400C); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#92cd00 ,#1d350a, #18400C); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(#92cd00 , #1d350a,#18400C); /* Standard syntax */

}

.rotate {
	animation:      rotation 9s infinite linear;  
 -o-animation:      rotation 9s infinite linear;
 -moz-animation:    rotation 9s infinite linear;
 -webkit-animation: rotation 9s infinite linear;
}

@-webkit-keyframes rotation {
 0%  { transform:rotate(0deg); }
 100%{ transform:rotate(360deg); }
}

@media screen and (orientation:portrait) {
	.container-button { padding: 35% 15px; }

}

@media screen and (orientation:landscape) {
	.container-button { padding: 8% 15px; }
}

