
body{
	background: -webkit-linear-gradient(white , white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white , white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white , white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white , white);
}
#container{
    width: 100%;
    height: 100%;
}
.container-options{
	float: left;
	width: 80px;
	height: 220px;
	margin-top: 50px;
	margin-left: 10px;
}
.icon{
	width: 60px;
	height: 60px;
	margin: 10px;
	float: left;
}
.image{
  background-size: 60px 60px;
  width:60px;
  height:60px;
}
.image-drop{
  margin:1px;
  visibility: visible;
}
.image-photo{
	background-image: url(/assets/photo.png);
	
}

.image-comment{
	background-image: url(/assets/comment.png);
}
.image-music{
	background-image: url(/assets/music.png);
}
.container-map{
	display: inline-block;
	width:93%;
	height:100%;
	float: right;
	position: relative;
}
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#mini-map{
	position:absolute;
	top:450px;
	left: 30px;
	height:120px;
	width:180px;
	transition: width 0.5s, height 0.5s, transform 0.5s;
}

.image-mini-map{
	 margin: 0;
     padding: 0;
     height: 100%;
}
.next-point{
	position:absolute;
	top:350px;
	left: 30px;
	height:80px;
	width:180px;
}
.drop-box{
	position:absolute;
	top:0px;
	left: 0px;
	height:100%;
	width:100%;
	background-color: none;
	transition: 0.8s ;
  visibility: hidden;
  padding-left: 42%;
  padding-top: 2%;
	
}
.drop-box-active{
	background-color: rgba(49, 180, 4, 0.3);
	border: 1px solid;
	transition: 0.8s;
  visibility: visible;
}


/*******************************POP UP*************************/
.modalbg {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}
.modalbg .dialog {
  width: 400px;
  position: relative;
  top: -1000px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}
.modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}
.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(4, 10, 30, 0.8);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.modalbg:target .dialog {
  top: -90px;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -transition-delay: 0.4s;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}
.close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}
.close:hover {
  background: #00d9ff;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}


